<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header") %>
        <main>
            <% if (!currentUser) { %>
                <p>Please <a href="/login">login</a> to start using veles file!</p>
                <% } else { %>
                    <a href="/files">Open Files</a>
                    <% } %>
        </main>
</body>