<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include("partials/header") %>
        <main class="form-main">
            <form action="/share/folder/<%= folderId %>" method="post">
                <h3>Share "<%= folder.name %>" to the public</h3>
                <label for="expires">Expire At</label>
                <input type="datetime-local" name="expires" id="expires">
                <button type="submit">Generate Link</button>
            </form>
        </main>
</body>