<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/icons/logo.svg" type="image/x-icon">
</head>

<body>
    <%- include("partials/header") %>
        <main class="form-main">
            <form action="/files/upload" method="POST" enctype="multipart/form-data">
                <h3>Drag and drop files here, or click <em>choose file</em> to browse your device.</h3>
                <div class="file-input-wrap">
                    <input type="file" name="file" id="file">
                </div>
                <input type="hidden" name="folderId" value="<%= currentFolderId ?? '' %>">

                <button type="submit">Upload</button>
            </form>
        </main>
</body>